html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%; }

#controls {
  position: absolute;
  top: 100px;
  left: 10px;
  background: rgb(75, 75, 75);
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  z-index: 1000;
  width: 250px;
  font-family: sans-serif;
  color: white;
}

#controls h4 {
  width: 200px;
  height: 30px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 8px;
  background: rgba(65, 65, 65, 0.95);
}

.coord-block {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

label {
  display: inline-block;
  width: 70px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
}

input {
  width: 90px;
  margin-bottom: 4px;
}

button {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #0078ff;
  color: white;
}

button:hover { background: #005fcc; }

.small-btn {
  width: auto;
  font-size: 12px;
  background: #888;
  margin-left: 5px;
}

.small-btn.active {
  background: #ff8800;
}
